body {
    /* background-color: lightblue; */
    margin: 0;
    padding: 0;
}

div {
    /* background-color: lightyellow; */
}

.content {
    display: grid;
    grid-template-areas: "header header"
                       "main main"  
                       "bottom bottom";
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 110px minmax(200px, 1fr) 50px;
}

.block {
    /* border: 5px solid rgba(123, 123, 123, 0.35); */
    border-radius: 17px;
}

.header {
    display: flex ;
    grid-area: header;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.main img {
    /* width: 100%; */
    height: 100%;
}

.view {
    position: relative;
    height: max(350px, 80%);
    margin: 0 auto;
}

.back-loader {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    z-index: -100;
}

.carousel {
    height: maxmin(300px, 20%);
    width: 100%;
}

.left {
    grid-area: left;
    display: none;
}

.bottom {
    grid-area: bottom;
}

#log {
    font: arial;
    font-weight: bolder;
    font-size: large;
    resize: none;
    text-align: center;
    margin-top: -10px;
}

.logo {
    flex: 1;
}

.logo img {
    height: 100%;
    width: auto;
}

.top {
    flex: 3;
}

#user_id {
    visibility: hidden;
}

#system_name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.carousel-item {
    /* width: 300px; */
    min-width: 300px;
    height: 200px;
    background-color: lightgray;
    /* border: dashed rgba(0, 0, 0, 1); */
    text-align: center;

    flex: 0 0 auto;
    margin: 0 10px;
}

.carousel-item > img {
    width: 100%;
    height: 100%;
}

.my-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


@keyframes ldio-jibe80mup1a {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-jibe80mup1a div {
    left: 195.03px;
    top: 141.84px;
    position: absolute;
    animation: ldio-jibe80mup1a linear 5.2631578947368425s infinite;
    background: #008ce3;
    width: 3.94px;
    height: 23.64px;
    border-radius: 1.97px / 7.8012px;
    transform-origin: 1.97px 55.16px;
  }.ldio-jibe80mup1a div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -4.912280701754386s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(2) {
    transform: rotate(24deg);
    animation-delay: -4.56140350877193s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(3) {
    transform: rotate(48deg);
    animation-delay: -4.2105263157894735s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(4) {
    transform: rotate(72deg);
    animation-delay: -3.8596491228070176s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(5) {
    transform: rotate(96deg);
    animation-delay: -3.508771929824561s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(6) {
    transform: rotate(120deg);
    animation-delay: -3.1578947368421053s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(7) {
    transform: rotate(144deg);
    animation-delay: -2.807017543859649s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(8) {
    transform: rotate(168deg);
    animation-delay: -2.456140350877193s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(9) {
    transform: rotate(192deg);
    animation-delay: -2.1052631578947367s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(10) {
    transform: rotate(216deg);
    animation-delay: -1.7543859649122806s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(11) {
    transform: rotate(240deg);
    animation-delay: -1.4035087719298245s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(12) {
    transform: rotate(264deg);
    animation-delay: -1.0526315789473684s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(13) {
    transform: rotate(288deg);
    animation-delay: -0.7017543859649122s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(14) {
    transform: rotate(312deg);
    animation-delay: -0.3508771929824561s;
    background: #008ce3;
  }.ldio-jibe80mup1a div:nth-child(15) {
    transform: rotate(336deg);
    animation-delay: 0s;
    background: #008ce3;
  }
  .loadingio-spinner-spinner-3kciexrf6pu {
    width: 394px;
    height: 394px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-jibe80mup1a {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-jibe80mup1a div { box-sizing: content-box; }
  /* generated by https://loading.io/ */